* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Gothic", sans-serif;
  
}

body {
  background: #020024;
  background: linear-gradient(90deg, rgb(38, 38, 52) 0%, rgba(9, 56, 121, 1) 8%, rgba(0, 212, 255, 1) 100%);
}